:root {
    --img-max: 400px;
    --blur: 34px;
    --fade: 8%;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    min-height: 180px;
}

h1, .h1 , h2, .h2 {
    color: var(--bs-danger);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

.hero-extend {
    position: relative;
    min-height: 40vh;
    overflow: hidden;
}

.hero-extend::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:  url('../img/curso-Aplicaciones-Machine-Learning-ciencia-datos-online.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(var(--blur)) saturate(120%);
    transform: scale(1.15);
    z-index: 0;
}s

.text-shadow {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.hero-extend .content {
    position: relative;
    z-index: 1;
    /* por encima del fondo borroso */
}

.hero-img {
    max-width: min(100%, var(--img-max));
    height: auto;
    display: block;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 0;
    /*background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent var(--fade));*/
    z-index: 2;
    pointer-events: none;
}

.overlay-box {
    pointer-events: auto;
    /* sí permite seleccionar/clicar el texto */
    max-width: 1100px;
    /* MÁS ancho que la imagen */
    width: min(92vw, 1100px);
    text-shadow: 0 2px 10px rgba(0, 0, 0, .6);
    /* opcional “glass” suave para contraste: */
    background-color: rgba(0, 0, 0, .30);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 12px;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, .15);
}

.overlay-actions {
    margin-top: .75rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
}