header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    min-height: 180px;
}

body {
    background-color: lightblue;
}

h1 {
    color: red;
}

img {
    height: 300px;
    width: 400px;
    margin:auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

.center {
    position: static;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
}